*{
   font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;

}
/* .head{
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
} */
.nav{
    background-color: #755F5E;
    border: 2px solid white;
    height: 100px;
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%; 
    
    
    
}
.name{
    margin-left: 10px;
    padding-right: 100px;
    padding-top: 30px;
    color: white;
}
.nav-menu ul li{
    display: inline-flex;
    list-style: none;
    padding-right: 50px;
    padding-left: 100px;
    padding-top: 30px;
    color: white;
    
}
a{
    color:white;
    text-decoration: none;
}
a:link{
    text-decoration: none;
}
a:hover{
    color: yellowgreen;
    text-decoration:none; 
    cursor:pointer;  
}
.b-image img{
    Margin-top: 150px;
    margin-left: 40px;
    border-radius: 35%;
    
}
.b-image h4{
    color: white;
    padding-left: 15rem;
    padding-top: 20px;
}
.b-image{
    background: url(../assets/images/background.PNG);
    background-repeat: no-repeat;
    background-size: auto;
    box-sizing: content-box;
    width: auto;
    height: 34rem;
    padding: 0;
    
}
hr.white{
    border: 2px solid white;
    width: 50%;
}
.header h4{
    text-align: center;
}
.projects{
    background-color: #755F5E;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}
.projectz{
    background-color: #755F5E;
}
.col-5{
    border: 2px solid black;
    margin-bottom:10px;
    background-color: #B69A9A;  
}
.hotel{
    border:1px gray solid;
    background-color: white;
    width: 20rem;
    margin-left:5rem;
    margin-top: 2rem;
    background-color: #B69A9A;
}
button{
    width: 100px;
    background-color: gray;
    /* float: right; */
    border-radius: 10px 10px;
    
}
.about{
    border: 1px solid gainsboro;
    height: fit-content;
    width: auto;
    background-color: #B69A9A;
}
.about h3{
    text-align: center;
}
.about h5{
    padding-left: 10px;
}
.about p{
    padding-left: 10px;
}
.contact{
    border:2px solid white;
    box-shadow:white;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #755F5E;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left:20px ;


}
/* .contact input[type=textarea] {
    padding-left:20px */
#btn{
    width: 100px;
}
footer {
    background-color: #B69A9A;
    box-sizing: border-box;
    color: white;
    padding: 20px;
    overflow: hidden;
    height: 30%;
    width: 100%;
    margin-bottom: 10px;
}
footer .symbols{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    padding-right:0px ;
}
.foo p{
    text-align: center;
    color: black;
    padding-top: 10px;
    
}
button:hover{
    background-color: blue;
}
@media screen and (max-width: 500px) {
    .nav ul li {
      color: black;
      display: block;
     
    }
}
  @media screen and (max-width: 800px) {
    .nav {
      display: block;
      width:auto;
      height: 14rem;
    }
  }
  @media screen and (min-width: 500px) {
    html {
      display: block;
      width:auto;
    }
  }
  @media screen and (min-width: 500px) {
    .b-image {
      width:auto;
    }
  }
 